<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Post</h1>
    <p><%= @post.name %></p>
    <p><%= @post.content %></p>

    <form class="" action="/posts/<%=@post.id%>/delete" method="post">
      <input type="submit" name="" value="delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
    </form>
  </body>
</html>
